<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Tmp" >
<head>
    <meta charset="UTF-8">
    <title>Form Patients</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">
    <div class="col-md-6 offset-3">
    <form method="post" th:action="@{/save(page=${page}, keyword=${keyword})}">
        <div class="form">
            <label>ID :</label>
            <label th:text="${client.id}"></label>
            <input class="form-control" type="hidden" name="id" th:value="${client.id}">
        </div>
        <div class="form">
            <label>Nom</label>
            <input class="form-control" type="text" name="nom" th:value="${client.nom}">
            <span class="text-danger" th:errors="${client.nom}"></span>
        </div>
        <div class="form">
            <label>Prénom</label>
            <input class="form-control" type="text" name="prenom" th:value="${client.prenom}">
            <span class="text-danger" th:errors="${client.prenom}"></span>
        </div>
        <div class="form">
            <label>CIN</label>
            <input type="text" name="cin" th:checked="${client.cin}">
            <span class="text-danger" th:errors="${client.cin}"></span>
        </div>
        <div class="form">
            <label>Email</label>
            <input class="form-control" type="email" name="EMail" th:value="${client.EMail}">
            <span class="text-danger" th:errors="${client.EMail}"></span>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    </div>
</div>
</body>
</html>