<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="Tmp"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">

    <div class="container mt-2">
        <div class="card">
            <div class="card-header">
                <h3 class="d-flex aligns-items-center justify-content-center">Liste des Clients</h3>
            </div>
            <div class="card-body">
                <div class="d-flex aligns-items-center justify-content-center">
                    <form method="get" th:action="@{/}">
                        <label>Client</label>
                        <input class="rounded-pill" type="text" name="keyword" th:value="${keyword}">
                        <button type="submit" class="btn btn-primary "><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg></button>
                    </form>
                    <a class="dropdown-item" th:href="@{/formClient}">Nouveau Client</a>
                </div>
                <br>
                <table class="table  table-bordered table-light table-hover">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">CIN</th>
                        <th scope="col">NOM</th>
                        <th scope="col">PRENOM</th>
                        <th scope="col">EMAIL</th>
                        <th scope="col">ACCOUNTS</th>
                        <th scope="col">DELETE</th>
                        <th scope="col">EDIT</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="c:${listC}" >
                        <td style="width: 5%" th:text="${c.id}"></td>
                        <td style="width: 20%"th:text="${c.cin}"></td>
                        <td style="width: 30%" th:text="${c.nom}"></td>
                        <td style="width: 30%" th:text="${c.prenom}"></td>
                        <td style="width: 20%" th:text="${c.EMail}"></td>
                        <td>
                            <a class="btn btn-info" th:href="@{/details(id=${c.id})}">
                                Details
                            </a>
                        </td>
                        <td sec:authorize="hasAuthority('ADMIN')">
                        <a onclick="return confirm('Etes vous sur?')" class="btn btn-danger" th:href="@{/delete(id=${c.id}, keyword=${keyword}, page=${currentPage})}">
                            Supprimer
                        </a>
                    </td>
                        <td sec:authorize="hasAuthority('ADMIN')">
                            <a class="btn btn-success" th:href="@{/editClient(id=${c.id}, keyword=${keyword}, page=${currentPage})}">
                                Edit
                            </a>
                        </td>


                    </tr>
                    </tbody>
                </table>
                <ul class="nav nav-pills">
                    <li th:each="page,status:${pages}">
                        <a th:class="${status.index==currentPage?'btn btn-info m-lg-1': 'btn btn-outline-info m-lg-1'}"
                           th:text="${status.index}"
                           th:href="@{/user/index(page=${status.index}, keyword=${keyword})}"
                        ></a>
                    </li>
                </ul>
            </div>

        </div>

    </div>

</div>

</body>
</html>